venv/
.venv/

__pycache__
admin/__pycache__
quiz/__pycache__
student/__pycache__
admin/__pycache__
admin/__pycache__/admin.cpython-310.pyc
quiz/__pycache__/quiz.cpython-310.pyc

txt_info/

.vscode/

.DS_Store
.DS_Store/
config.py

