<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='/css/header_navbar.css') }}">

<header>
            
    <h1 class="title"> Student Profil </h1>

    <div class="student-info-container">

        <p> @{{ current_user['login'] }} </p>

        <a href="{{ url_for('student.student_logout') }}"> Logg ut </a>

    </div>

</header>

<nav class="navbar">

    <ul>
        <li> <a href="{{ url_for('student.student_profile') }}"> Quizer </a> </li>
        <li> <a href="{{ url_for('student.student_assessment') }}"> Vurderinger </a> </li>
    </ul>

</nav>
