{% extends 'base.html' %}


{% block title %} Quiz {% endblock %}

{% block stylesheets %}

    {{ super() }}

    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='/css/student_profile.css') }}">

{% endblock %}

{% block body %}

    <header>
        
        <h1 class="title"> Student Profil </h1>

        <div class="student-info-container">

            <p> @{{ current_user['login'] }} </p>

            <a href="{{ url_for('student.student_logout') }}"> Logg ut </a>

        </div>

    </header>

    <nav class="navbar">

        <ul>
            <li> <a href="{{ url_for('student.student_profile') }}"> Hjem </a> </li>
            <li> <a href="{{ url_for('student.student_assessment') }}"> Vurderinger </a> </li>
        </ul>

    </nav>

    <div class="wrapper">

        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="flash {{ category }}"> {{ message }} </div>
        {% endfor %}

        {% block content %} {% endblock %}

    </div>

    <div class="container">

        <h2 class="title">Velg quiz</h2>

        <div class="quiz-list">

            {% for quiz in quizzes %}

                {% if quiz.number_of_questions != 0 %}

                    <a {{ "href=" + url_for('student.quiz_greeting', quiz_id=quiz.id) if quiz.id not in session['passed_quizzes'] else '' }} class="quiz-item{{' quiz-item-passed' if quiz.id in session['passed_quizzes'] else '' }}">

                        <h3> {{ quiz.name }} </h3>
                        <p class="quiz-description"> {{ quiz.description }} </p>

                        <p class="quiz-extra-info quiz-extra-info-first"> Antall spørsmål: {{ quiz.number_of_questions }} </p>
                        <p class="quiz-extra-info quiz-extra-info-list"> 
                        {% for category in quiz.categories %}
                            <span> {{ category }} </span>
                        {% endfor %}
                        </p>

                        {% if quiz.id in session['passed_quizzes'] %}
                            <p class="quiz-passed-message"> <span> Har allerede tatt denne quizen </span> </p>
                        {% endif %}

                    </a>

                {% endif %}

            {% endfor %}

        </div>

        <a href="{{ url_for('student.student_profile') }}" class="button">Tilbake</a>

    </div>

{% endblock %}
