{% extends 'base.html' %}


{% block title %} Quiz {% endblock %}

{% block stylesheets %}

    {{ super() }}

    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='/css/student_assessment.css') }}">

{% endblock %}

{% block header_navbar %}
    {% include "student/header_navbar.html" %}
{% endblock %}

{% block body %}

    <div class="container">

        <div class="quiz-list">

            {% for quiz in quizzes %}

                {% if quiz.number_of_questions != 0 and quiz.id in session['passed_quizzes'] %}

                    <a {{ "href=" + url_for('student.quiz_result_details', quiz_id=quiz.id) if quiz.approved else '' }} class="quiz-item{{' quiz-item-passed' if quiz.id in session['passed_quizzes'] else '' }}">

                    <h3> {{ quiz.name }} </h3>

                    <p class="quiz-description"> {{ quiz.description }} </p>

                    <p class="quiz-extra-info quiz-extra-info-first"> Antall spørsmål: {{ quiz.number_of_questions }} </p>

                    <p class="quiz-extra-info quiz-extra-info-list">  
                        {% for category in quiz.categories %}
                            <span> {{ category }} </span>
                        {% endfor %}
                    </p>

                    {% if quiz.approved %}
                        <p class="quiz-approved-message"> <span> Denne quizen er godkjent </span> </p>
                    {% else %}
                        <p class="quiz-not-approved-message"> <span> Venter på godkjenning </span> </p>
                    {% endif %}
                    
                {% endif %}
                
            {% endfor %}

        </div>

        <a href="{{ url_for('student.student_profile') }}" class="button">Tilbake</a>

    </div>

{% endblock %}
