{% extends 'base.html' %}


{% block title %} Student registrering {% endblock %}

{% block stylesheets %}

    {{ super() }}

    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='/css/login_registration.css') }}">

{% endblock %}

{% block body %} 

    <form class="registration-form" action="{{ url_for('student.student_registration') }}" method="post">

        {{ form.csrf_token }}

        <h2 class="title"> Registrering </h2>

        <table class="table">

            <tr>
                <td> Fornavn: </td>
                <td> {{ form.first_name }} </td>
            </tr>

            <tr>
                <td> Etternavn: </td>
                <td> {{ form.last_name }} </td>
            </tr>

            <tr>
                <td> Brukernavn: </td>
                <td> {{ form.login }} </td>
            </tr>
            
            <tr>
                <td> Passord: </td>
                <td> {{ form.password }} </td>
            </tr>

            <tr>
                <td> Passord bekreftelse: </td>
                <td> {{ form.password_confirm }} </td>
            </tr>

            <tr>
                <td><a href="{{ url_for('index') }}" class="button">Tilbake</a></td>
                <td> {{ form.submit }} </td>
            </tr>

        </table>

        <a href="{{ url_for('student.student_login') }}"> Har du en konto? Logg inn </a>

        <div class="message-group">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </form>

{% endblock %}
